body {
  font-family: 'Hack', monospace;
  margin: 0;
  padding: 0;
  background-color: #EAE7DC;
  color: #080708;
  text-align: center;
}

header {
  background-color: #408068;
  padding: 1em;
  text-align: center;
  color: #EAE7DC;
  font-size: 24px;
}

nav {
  background-color: #06402B;
  padding: 0.5em;
  text-align: center;
}

nav a {
  color: #EAE7DC;
  text-decoration: none;
  padding: 1em;
  margin: 0 0.5em;
  font-weight: bold;
}

nav a:hover {
  border-bottom: 2px solid #4f3727;
}

section {
  padding: 2em;
  text-align: left;
  margin: 0 3%;
  max-width: 40%;
}

h2 {
  color: #06402B;
}

.section-title {
  border-bottom: 2px solid #06402B;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  color: #06402B;
}

.two-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.two-column section {
  width: 40%;
}

footer {
  background-color: #06402B;
  color: #ffffff;
  text-align: center;
  padding: 1em;
  width: 100%;
  bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

ul.images-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul.images-list li {
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 10px;
}

ul.images-list img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.one-column section {
  max-width: 100%;
  margin: 0 auto;
}

.one-column section:not(:last-child) {
  margin-bottom: 2em;
}

.project-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.project-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.project-info {
  width: 70%;
}

.view-project-button {
  width: 30%;
}

.project-button {
  display: block;
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: #ffffff;
}

.project-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.project-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.project-info {
  width: 70%;
}

.view-project-button {
  width: 30%;
}

.project-button {
  display: block;
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: #ffffff;
}

#interests-hobbies>ul>li:not(:last-child) {
  margin-bottom: 20px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.contact-image {
  max-width: 60%;
  max-height: 350px;
}

.contact-buttons {
  flex-grow: 1;
  margin-left: 2em;
}

.contact-button {
  display: block;
  width: 100%;
  max-width: 200px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 1em;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #ffffff;
}